body {
    background-image: url("../img/page-background.jpg");
    background-attachment: fixed;
    background-color: rgb(100, 57, 63);
    background-position: center;
}
.big-hello {
    color: white;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 48px;
    border-radius: 20px;
    font-family: 'Poiret One';
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.small-hello {
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Poiret One';
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.category-header {
    color: rgb(52, 52, 52);
    text-align: left;
    font-size: 18px;
    background-color: rgba(157, 163, 0, 0.5);
    padding: 10px;
    padding-left: 10%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.category-header a {
    color: #2c47db;
}
.main-content-box {
    background-color: rgba(255, 255, 255, 0.6);   
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.main-content-box p {
    margin-left: 9%;
    margin-right: 9%;
}
.main-content-box h2{
    margin-left: 2.5%;
}
.main-content-box h3{
    margin-left: 5%;
}
.main-content-box h4{
    margin-left: 7%;
}
.homepage-box {
    background-color: rgba(255, 108, 0, 0.3);
    padding: 10px;
    border-color: #570057;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 0px;
}
.homepage-btn {
    margin: 5px;   
}
.alg {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    background-color: rgb(56, 56, 56);
    color: #00c616;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
}